[Unit]
Description=PARSEC
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW
#DeviceAllow=char-* rw
Environment=SOFTHSM2_CONF=/etc/softhsm2.conf
ExecStart=/sbin/parsec -c /etc/parsec_config.toml
LockPersonality=yes
#MemoryDenyWriteExecute=yes
#NoNewPrivileges=yes
Restart=on-failure
RestartKillSignal=SIGUSR2
RestartSec=1
#RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6 AF_PACKET AF_ALG
#RestrictNamespaces=yes
#RestrictRealtime=yes
#RestrictSUIDSGID=yes
WorkingDirectory=/data/home/parsec
#SystemCallArchitectures=native
#SystemCallErrorNumber=EPERM
#SystemCallFilter=@system-service
#User=parsec
#WatchdogSec=3min

